/* Base styles */

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dials {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App .title {
  margin: 40px;
}

* {
  box-sizing: border-box;
}

.thermometer {
  margin: 0 auto;
}

.slider {
  appearance: none;
  width: 300px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3f5c8c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3f5c8c;
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 8in) {
  /* Adjust styles for an 8-inch display */
  .App .title {
    margin: 20px;
    font-size: 1.2em;
  }

  .slider {
    width: 200px;
  }
}